body {
    height: 100vh;
    margin: 0px;
    background-color: #fafafa;
    font-family: -apple-system;
}
* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif !;

}

input {
    padding: 8px;
    alt: unset;
    border: 1px solid rgb(219, 219, 219);
    margin: 2px;
    height: 23px;
    width: 268px;
    border-radius: 5px;
    background-color: #fafafa;
}
input:focus,
input:active {
    border: 1px solid rgb(30, 30, 30);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.footer {
    display: flex;
    height: 10%;
    flex-direction: column;
    margin-top: -3px;
}
.left {
    height: 700px;
    width: 430px;
    background-image: url(https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png);
    background-repeat: no-repeat;
    margin-bottom: 12px;
    align-self: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.right {
    align-self: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: -110px;
}
.right .login {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    border: 1px solid rgb(219, 219, 219);
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.right .login .line {
    background-color: rgb(219, 219, 219);
    height: 1px;
    width: 120px;
}

.right .login div {
    display: flex;
    flex-direction: row; 
    align-items: center;                        
}

.loginBtn {
    background-color: rgba(0, 149, 246, 0.3);
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    height: 28px;
    width: 290px;
    margin: 20px 0px 20px 0px;
    font-size: medium;
}

.loginWithFb {
    text-align: center;
    margin-top: 20px;
    color: rgb(56, 81, 133);
    font-weight: 600;
    font-size: 15px;
}

.logoFb {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 1px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);                              
    background-repeat: no-repeat;           
    background-position: -414px -259px;
    height: 16px;
    width: 16px;
}

.forgetPass {
    color: rgb(0,55,107);
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
}

.signUp {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    margin-left: 10px;
    border: 1px solid rgb(219, 219, 219);
    padding: 20px;
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbar {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   text-align: center;
   justify-content: center;
   max-width: 1100px;
   margin: auto;
}

.navbar span {
    color: gray;
    padding: 10px;
}
